$c_p_light: #464646;
$c_p_black: #333333;

$c_s_light: #666666;

$c_t_light: #faa419;
$c_c_light: #23d18b;

$c_white: #ffffff;
$c_black: #000000;

$c_b_header: $c_p_light;
$c_c_header: $c_c_light;

$c_b_tab: $c_p_black;
$c_b_tab-active: $c_p_light;
$c_b_tab-hover: $c_s_light;
$c_c_tab: $c_white;