.main-header {
  align-items: center;
  background-color: $c_b_header;
  display: flex;
  justify-content: space-between;
  height: $s_h_header;
  padding: $s_p_header;
}

.main-header__title {
  background-color: $c_b_header;
  color: $c_c_header;
  min-width: $s_w_sidebar;
  font-size: 2em;
  height: $s_h_header;
  padding: 15px 0;
}