$icomoon-font-path: "fonts" !default;

$icon-menu: \e913;
$icon-files: \e900;
$icon-more: \e901;
$icon-chevron-down: \e902;
$icon-sync: \e903;
$icon-notification: \e904;
$icon-chart: \e905;
$icon-monitor: \e906;
$icon-minus: \e907;
$icon-close: \e908;
$icon-delete: \e909;
$icon-arrow-left: \e90a;
$icon-history: \e90b;
$icon-save: \e90c;
$icon-share: \e90e;
$icon-add: \e90f;
$icon-eye-blocked: \e910;
$icon-eye: \e911;
$icon-settings: \e912;

