.button {
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.button--icon {
  background-color: transparent;
  border: none;
  color: $c_white;
  height: auto;
  font-size: 2em;
  transition: .4s color ease-in;
  &:hover {
    color: $c_c_light;
  }
}

.button--orange {
  background-color: $c_t_light;
  color: $c_white;
}
