.tabs {
  margin: 25px 15px 0;
}

.tab {
  display: inline-block;
  margin: 0 15px;
  &.active {
    .tab__head--remove,
    .tab__head--link {
      background-color: $c_b_tab-active;
      transform: translateY(0);
    }
  }
  &:hover {
    .tab__head--link,
    .tab__head--remove {
      background-color: $c_b_tab-active;
    }
  }
}

.tab__head {
  background-color: $c_b_tab;
  border: none;
  border-top: 1px solid $c_b_tab-hover;
  color: $c_c_tab;
  cursor: pointer;
  font-size: 17px;
  outline: none;
  padding: 15px 25px;
  transform: translateY(-1px);
}

.tab__head--link {
  border-left: 1px solid $c_b_tab-hover;
  border-top-left-radius: 4px;
  padding-right: 0;
}

.tab__head--remove {
  border-right: 1px solid $c_b_tab-hover;
  border-top-right-radius: 4px;
  &:hover {
    color: $c_c_light;
  }
}

.tab__head--button {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 1px solid $c_b_tab-hover;
  border-right: 1px solid $c_b_tab-hover;
  &:hover {
    color: $c_c_light;
  }
}

.tab__content {
  background-color: $c_b_tab-active;
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  width: 100%;
  border: 1px solid $c_b_tab-hover;
  &.active {
    margin-top: -1px;
    display: block;
  }
}
